.benefist__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.benefist__item {
   
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2); 
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 3);
    }
}

.icon-box {
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $third-bg-color;
    border-radius: 4px;
    text-align: center;
}

.benefist__icon {
    width: 70px;
    height: 70px;
    
}

.benefist__text {
    
    color: $second-font-color;
    font-size: 14px;
    line-height: 1.7;
}

